@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-eventure">
    <h2 style="font-weight: bold">Eventures - The best ticket service in the world.</h2>
    <hr class="hr-black hr-2" style="font-weight: bold"/>
    <h3 style="font-weight: bold"><a asp-area="Identity" asp-page="/Account/Login" >Login</a> to start "eventing".</h3>
    <h3 style="font-weight: bold"><a asp-area="Identity" asp-page="/Account/Register" >Register</a> if you don't.</h3>
</div>
