@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center"><b>Login</b></h2>
        <hr class="hr-2 bg-eventure" />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group text-center">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control"  placeholder="Username..."/>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control"  placeholder="Password..."/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <hr class="bg-eventure hr-2"/>
            <div class="form-group text-center">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <hr class="bg-eventure hr-2"/>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-default bg-eventure">Log in</button>
            </div>
            <div class="form-group text-center">
                <p>
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
